@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-head: "DM Serif Display", serif;
    --ff-body: "Karla", sans-serif;

    --container-width: 70rem;

    --space-400: 1rem;
    --space-500: 2rem;

    --col-primary-400: hsl(256, 26%, 20%);
    --col-secondary-400: hsl(216, 30%, 68%);
    

    --col-neutral-400: hsl(270, 9%, 17%);
    --col-neutral-600: hsl(273, 4%, 51%);
    --col-neutral-800: hsl(0, 0%, 78%);
    --col-neutral-900: hsl(0, 0%, 98%);
}

img {
    max-width: 100%;
}

.fluid-container {
    width: min(90%, var(--container-width));
    margin-inline: auto;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

.grid-1-col {
    grid-template-columns: 1fr;
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.flex-col {
    flex-direction: column;
}

@media screen and (min-width: 60rem) {
    .md-grid-3-cols {
        grid-template-columns: repeat(3, 1fr);
    }
    .md-grid-4-cols {
        grid-template-columns: repeat(4, 1fr);
    }
    .md-justify-between {
        justify-content: space-between;
    }
}